{% extends "studentBase.html" %}
{% block title %}Capstone Proposal{% endblock %}
{% block page %}Capstone Proposal Evaluation{% endblock %}


{% block menuItems %}
    <li style="margin-top: 62px"><a href="/proposal">Submit New Proposal</a></li>
    <li><a href="/ask-query">Ask a Question</a></li>
    <li class="active" ><a href="/history">Conversation History</a></li>
    <li><a href="#!" style="margin-bottom: 60vh">Contact Lecturer</a></li>
    <li><a href="/">Log Out</a></li>
{% endblock %}

{% block content %}
    <div class="row equal-height-grid" style="margin-bottom:5rem; margin-top:1.2rem;">
        <div class="col s12">

           <h3> <span class="section-title"> Evaluation History </span> </h3>

            <div class="card">
                <div class="divider"></div>

                <div class="card-content" style="min-height: 600px;">
                    <div class="row">
                    <table class="centered highlight">
                        <thead><tr>
                            <th>Date Submitted</th>
                            <th>Proposal Name</th>
                            <th>Proposal Score</th>
                        </tr></thead>
                        <tbody>

                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
