{% extends "studentBase.html" %}
{% block title %}Capstone Proposal{% endblock %}
{% block page %}Capstone Proposal Evaluation{% endblock %}

<!--Side nav items-->
{% block menuItems %}
    <li style="margin-top: 62px"><a href="/proposal">Submit New Proposal</a></li>
    <li><a href="/ask-query">Ask a Question</a></li>
    <li class="active" ><a href="/history">History</a></li>
    <li><a href="#!">Contact Lecturer</a></li>
{% endblock %}

<!--Screen content-->
{% block content %}
    <div class="row " style="margin-bottom:5rem; margin-top:1.2rem;">
        <div class="col s12">

            <!--Evaluation History-->
           <h3> <span class="section-title"> Evaluation History </span> </h3>

            <div class="card">
                <div class="divider"></div>

                <div class="card-content" style="min-height: 600px;">
                    <div class="row">
                    <table class="centered highlight striped">
                        <!--Status can be either Review In-Progress, Completed, or Under Manual Review-->
                        <thead><tr>
                            <th>Date Submitted</th>
                            <th>Proposal Name</th>
                            <th>Evaluation Status</th>
                            <th>Proposal Score</th>
                        </tr></thead>
                        <tbody>
                        <tr>
                            <td>13-May-2023</td>
                            <td>Cap Advisor</td>
                            <td>Completed</td>
                            <td>4/5</td>
                        </tr>
                        <tr>
                            <td>13-May-2023</td>
                            <td>Guessing Game</td>
                            <td>In-Progress</td>
                            <td>-</td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>

            <!--Proposal History-->
            <h3 style="margin-top: 5rem;"> <span class="section-title"> Proposal Submissions </span> </h3>

            <div class="card">
                <div class="divider"></div>

                <div class="card-content" style="min-height: 600px;">
                    <div class="row">
                        <table class="centered highlight striped">
                            <thead><tr>
                                <th>Date Submitted</th>
                                <th>Proposal Name</th>
                            </tr></thead>
                            <tbody>
                            <tr>
                                <td>13-May-2023</td>
                                <td>Cap Advisor</td>
                            </tr>
                            <tr>
                                <td>13-May-2023</td>
                                <td>Guessing Game</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--to edit-->

        </div>
    </div>
{% endblock %}
