<!doctype html>
<html>
<head>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Cap Advisor</title>

    <style>
        /*round button corners*/
        .rounded-corners {
            border-radius: 30px;
            width: 250px;
        }
        #brandText {
            margin-left:30px;
        }
        main{
           background-image:url("static/backgroundStatic.jpg");
           background-size: cover;
        }
    </style>

</head>
<body>
    <!--top navigation bar-->
    <header>
        <nav class="indigo darken-4 z-depth-1 transparent">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo white-text" id="brandText">Cap Advisor</a>
            </div>
        </nav>
    </header>
    <!--screen content-->
    <main>
        <div class="container" style="height:150px;">
            <!--separator-->
        </div>

        <div class="container center-align white-text" style="padding-bottom:10rem">
            <div class="row">
                <div class="col s12">
                    <h2>Provide your project idea to get feedback and advice from your Capstone Advisor</h2>
                </div>
            </div>

            <div class="row">
                <div class="col s12 white-text">
                    <h5>"Sign In to Access the portal!"</h5>
                </div>
            </div>

        <div class="container" style="height:100px;">
            <!--separator-->
        </div>

        <div class="row">
            <div class="col s12">
                <a href="/login" class="z-depth-3 waves-effect waves-light indigo darken-4 btn-large rounded-corners cyan-text">
                    <i class="material-icons right">arrow_forward</i>Cet Started</a>
            </div>
        </div>
        </div>
    </main>

    <!--footer-->
    <footer class="page-footer indigo darken-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">About Floodtech</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Contact</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">floodtechbdos@gmail.com</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">floodtech.bdos</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2023 Copyright
                <!--<a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
