{% extends "studentBase.html" %}
{% block title %}Capstone Proposal{% endblock %}
{% block page %}Submit Proposal{% endblock %}

<style>

</style>

{% block menuItems %}
    <li class="active" style="margin-top: 62px"><a href="/proposal">Submit New Proposal</a></li>
    <li><a href="/ask-query">Ask a Question</a></li>
    <li><a href="/history">History</a></li>
    <li><a href="#!" style="margin-bottom: 60vh">Contact Lecturer</a></li>
    <li><a href="/">Log Out</a></li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12 offset-m1">

        <h3> <span class="section-title"> Project Proposal</span> </h3>

        <div class="card">
            <form class="col s12">

                <div class="row">
                    <div class="input-field col s4">
                        <input  id="name" type="text" required>
                        <label for="name" class="">Proposal Name
                            <i class="material-icons tiny right red-text">*</i></label>
                        <span class="helper-text" data-error="wrong" data-success="right">
                            What is the Project's name?</span>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 l7" >
                        <!--<input id="problem" type="text">-->
                        <textarea id="problem" class="materialize-textarea" required></textarea>
                        <label for="problem">Problem Statement
                            <i class="material-icons tiny right red-text">*</i></label>
                        <span class="helper-text" data-error="wrong" data-success="right">
                            What is the problem identified for the project?</span>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 l7">
                        <textarea id="solution" class="materialize-textarea" required></textarea>
                        <label for="solution">Solution Goal
                            <i class="material-icons tiny right red-text">*</i></label>
                        <span class="helper-text" data-error="wrong" data-success="right">
                            What is the solution provided by the Project?</span>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s5 l3">
                        <input id="groupNum" type="number" min="1" max="5" required>
                        <label>No. of Group Members
                            <i class="material-icons tiny right red-text">*</i></label>
                        <span class="helper-text" data-error="wrong" data-success="right">
                        How many group members are there (including you)?</span>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 l7">
                        <input id="requirements" type="text">
                        <label for="requirements" >Proposal Requirements</label>
                        <span class="helper-text" data-error="wrong" data-success="right">
                            What requirements have you identified for the Project?</span>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 l7">
                        <input id="tools" type="text">
                        <label for="tools" >Proposed tools</label>
                        <span class="helper-text" data-error="wrong" data-success="right">
                            What are possible tools you may need to develop the Project?</span>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s8">
                        <textarea id="additional-Info" class="materialize-textarea"></textarea>
                        <label for="additional-Info">Additional Info</label>
                        <span class="helper-text" data-error="wrong" data-success="right">
                            Include any additional info you think may help the evaluation</span>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field center " style="margin-bottom: 10vh">
                        <a href="#" class="btn indigo darken-4 z-depth-1
                    rounded-corners cyan-text rounded">Submit</a>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>
{% endblock %}
