{% extends "studentBase.html" %}
{% block title %}Capstone Proposal{% endblock %}
{% block page %}Submit Proposal{% endblock %}


{% block menuItems %}
    <li class="active" style="margin-top: 62px"><a href="/proposal">Submit New Proposal</a></li>
    <li><a href="/ask-query">Ask a Question</a></li>
    <li><a href="/history">Conversation History</a></li>
    <li><a href="#!" style="margin-bottom: 60vh">Contact Lecturer</a></li>
    <li><a href="/">Log Out</a></li>
{% endblock %}

{% block content %}
<section>
    <div class="row">
        <form class="col s12 ">
            <div class="row">

            </div>

            <div class="row">
                <div class="input-field col s4 ">
                    <input id="name" type="text">
                    <label for="name" class="">Proposal Name</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12 l7">
                    <!--<input id="problem" type="text">-->
                    <textarea id="problem" class="materialize-textarea"></textarea>
                    <label for="problem">Problem Statement</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12 l7">
                    <textarea id="solution" class="materialize-textarea"></textarea>
                    <label for="solution">Solution Goal</label>
                </div>
            </div>

            <div class="row">
               <!--<div class="input-field col s6 l4">
                    <input id="date" type="date">
                    <label for="date">Project Deadline</label>
                </div>-->

                <div class="row">
                    <div class="input-field col s6 l4">
                        <input id="groupNum" type="number" min="0" max="5">
                        <label># of Group Members</label>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="input-field col s12 l7">
                    <input id="requirements" type="text">
                    <label for="requirements" >Proposal Requirements</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12 l7">
                    <input id="tools" type="text">
                    <label for="tools" >Proposed tools</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input id="additional-Info" type="text">
                    <label for="additional-Info" >Additional Info</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field center " style="margin-bottom: 10vh">
                    <a href="/proposal-evaluation" class="btn indigo darken-4 z-depth-1
                    rounded-corners cyan-text rounded">Submit</a>
                </div>
            </div>

        </form>
    </div>
</section>
{% endblock %}
