<!doctype html>
<html>
<head>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Cap Advisor - Home</title>

    <style>
        .rounded-corners {
            border-radius: 30px;
            width: 200px;
        }
        #brandText {
            margin-left:30px;
        }
        .tabs .indicator {
            background-color: indigo;
        }
        .tabs .tab a:focus,.tabs .tab a:focus.active {
            background-color: transparent;
            outline: none
        }
    </style>
</head>
<body>
    <header>
        <nav class="indigo darken-4 z-depth-1">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo left" id="brandText">Cap Advisor</a>
            </div>
        </nav>
    </header>

    <main>
        <div class="container" style="height:100px;">
            <!--separator-->
        </div>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col hide-on-med-and-down l5 left-align " style="background-color:blue; height:500px;">

                    </div>
                    <div class="col s12 l6 offset-l1 right-align">
                        <ul class="tabs">
                            <li class="tab col s5 "><a href="#login" class="active indigo-text">LOGIN</a></li>
                            <li class="tab col s5"><a class="indigo-text" href="#register">REGISTER</a></li>
                            <!--<li class="indicator" style="left: 0px; right: 400px;"></li>-->
                        </ul>
                        <div class="tabs-content" style="min-height:580px;">
                            <!--login form-->
                            <div id="login" class="col s11">
                                <form class="col s12 ">
                                    <div class="row" style="height:30px"></div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="user-name" type="text">
                                            <label for="first-name" class="">User Name</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="user-password" type="password">
                                            <label for="user-password" class="">Password</label>
                                        </div>
                                    </div>
                                    <div class="row" style="height:60px"></div>
                                    <div class="row">
                                        <div class="input-field center">
                                            <a href="/proposal" class="btn z-depth-3
                            waves-effect waves-light indigo darken-4 z-depth-1 cyan-text rounded-corners">Login</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!--register form-->
                            <div id="register" class="col s11">
                                <div class="row">
                                    <form class="col s12 ">

                                        <div class="row">
                                            <div class="input-field col s6">
                                                <input id="first-name" type="text">
                                                <label for="first-name" class="">First Name</label>
                                            </div>

                                            <div class="input-field col s6">
                                                <input id="last-name" type="text">
                                                <label for="last-name" class="">Last Name</label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="email" type="email">
                                                <label for="email">Email</label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="input-field col s6">
                                                <input id="password" type="password">
                                                <label for="password" class="">Password</label>
                                            </div>

                                            <div class="input-field col s6">
                                                <input id="re-password" type="password">
                                                <label for="password" class="">Re-enter Password</label>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="input-field col s6">
                                                <p>
                                                    <label>
                                                        <input name="group1" type="radio">
                                                        <span>Lecturer</span>
                                                    </label>
                                                </p>
                                                <p>
                                                    <label>
                                                        <input name="group1" type="radio">
                                                        <span>Student</span>
                                                    </label>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field center">
                                                <a href="/add-rubric" class="btn z-depth-3
                            waves-effect waves-light indigo darken-4 z-depth-1 cyan-text rounded-corners">Sign-Up</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        </main>
    <footer class="page-footer indigo darken-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">About Floodtech</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Contact</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">floodtechbdos@gmail.com</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">floodtech.bdos</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2023 Copyright
                <!--<a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>M.AutoInit();</script>
</body>
</html>
