<!doctype html>
<html>
<head>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Ubuntu&display=swap" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Cap Advisor - Home</title>

    <style>
        body, .tabs{
            background-color: #e3f2fd;
        }
        div .btn {
            border-radius: 30px;
            width: 200px;
            color: #00e5ff;
        }
       
        .page-footer{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }
       /* Change font Style*/  
        *{
            font-family: 'Libre Baskerville', serif;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
        }
        .brand-logo {
            margin-left:30px;
            font-family: 'Libre Baskerville', serif;
            font-family: 'Ubuntu', sans-serif;

        }
        /* Edit materialize tab style*/
        .tabs .indicator {
            background-color: indigo;
        }
        .tabs .tab a:focus,.tabs .tab a:focus.active {
            background-color: transparent;
            outline: none
        }
        .tabs-content{
            display:flex;
            justify-content: center;
            align-content:center;
            min-height: 548px;
        }
        /* form label color */
       .input-field label {
         color: #000;
       }
       /*Radio Button color*/
       [type="radio"].with-gap:checked+span:after {
            background-color: #1a237e;
        }

        [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
            border: 2px solid #1a237e;
        }
       /* form label focus color */
       [type]:focus + label{
         color: #1a237e !important;
       }

      /* form label underline focus color */
       [type]:focus{
         border-bottom: 2px solid #1a237e !important;
         box-shadow: 0 1px 0 0 #1a237e !important;
       }
    </style>
</head>

<body>
    <header>
        <nav class="indigo darken-4 z-depth-1">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo left" id="brandText">Cap Advisor</a>
            </div>
        </nav>
    </header>
    
    <!--screen content-->
    <main>
        <div class="container" style="margin-top: 100px;">
            <div class="row">
                <!--left image should go here-->
                <div class="col hide-on-med-and-down l5" style="background-color:blue; height:500px;"></div>
                <!--right tab headers-->
                <div class="col s12 l6 offset-l1">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab col s5"><a href="#login" class=" indigo-text">LOGIN</a></li>
                        <li class="tab col s5"><a class="indigo-text" href="#register">REGISTER</a></li>
                    </ul>
                    <div class="tabs-content">
                        <!--login form-->
                        <div id="login" class="col s11" >
                            <form class="col s12" method="POST" action="/login">
                                <div class="row" style="margin-top: 80px;">
                                    <div class="col s1"></div>
                                    <div class="input-field col s8">
                                        <input name="username" type="text" required>
                                        <label for="username" class="">Username/UWI ID
                                            <i class="material-icons tiny red-text">*</i>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s1"></div>
                                    <div class="input-field col s8">
                                        <input name="password" type="password" required>
                                        <label for="password" class="">Password
                                            <i class="material-icons tiny red-text">*</i>
                                        </label>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 60px;">
                                    <div class="col s12 center">
                                        <button class="btn indigo darken-4 z-depth-1 waves-effect waves-light" type="submit">  
                                                Login
                                            </button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!--register form-->
                        <div id="register" class="col s11">
                            <div class="row">
                                <form class="col s12" method="POST" action="/user">

                                    <div class="row">
                                        <div class="input-field col s7">
                                            <input name="username" type="text" required>
                                            <label for="username">Username
                                                <i class="material-icons tiny red-text">*</i>
                                            </label>
                                        </div>

                                        <div class="input-field col s3 offset-s1">
                                            <p>
                                                <label>
                                                    <input class="with-gap" name="role" type="radio" value="Student" checked>
                                                    <span>Student</span>
                                                </label>
                                            </p>
                                            <p>
                                                <label>
                                                    <input class="with-gap" name="role" type="radio" value="Lecturer">
                                                    <span>Lecturer</span>
                                                </label>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="input-field col s6">
                                            <input name="first_name" type="text" required>
                                            <label for="first_name">First Name
                                                <i class="material-icons tiny red-text">*</i>
                                            </label>
                                        </div>

                                        <div class="input-field col s6">
                                            <input name="last_name" type="text" required>
                                            <label for="last_name">Last Name
                                                <i class="material-icons tiny red-text">*</i>
                                            </label>
                                        </div>
                                    </div>
                                

                                    <div class="row">
                                        <div class="input-field col s6">
                                            <input name="email" type="email" required>
                                            <label for="email">UWI Email
                                                <i class="material-icons tiny red-text">*</i>
                                            </label>
                                        </div>

                                        <div class="input-field col s6">
                                            <input name="uwi_id" type="text" required>
                                            <label for="uwi_id">UWI ID
                                                <i class="material-icons tiny red-text">*</i>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="input-field col s6">
                                            <input name="password" type="password" id="pw1" required> 
                                            <label for="password" class="">Password
                                                <i class="material-icons tiny red-text">*</i>
                                            </label>
                                        </div>

                                        <div class="input-field col s6">
                                            <input name="re_password" type="password" id="pw2" required>
                                            <label for="re_password" class="">Re-enter Password
                                                <i class="material-icons tiny red-text">*</i>
                                            </label>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="input-field center">
                                            <button class="btn indigo darken-4 z-depth-1 waves-effect waves-light" type="submit">  
                                                Sign-Up
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!--footer-->
    <footer class="page-footer indigo darken-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">About Floodtech</h5>
                    <p class="grey-text text-lighten-4">Founded in 2020 to provide software solutions for students. Existing members are Alexander, Dante, and Ramon.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Contact Us</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">floodtechbdos@gmail.com</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">https://floodtech.bdos.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2023 Copyright
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>M.AutoInit();

    </script>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <script>
            M.toast({html: '{{ message }}'});
        </script>
        {% endfor %}
    {% endif %}
    {% endwith %}
</body>
</html>
