{% extends "studentBase.html" %}
{% block title %}Capstone Proposal{% endblock %}
{% block page %}Capstone Proposal Evaluation{% endblock %}

{% block menuItems %}
    <li style="margin-top: 62px"><a href="/proposal">Submit New Proposal</a></li>
    <li class="active"><a href="/ask-query">Ask a Question</a></li>
    <li><a href="/history">Conversation History</a></li>
    <li><a href="#!" style="margin-bottom: 60vh">Contact Lecturer</a></li>
    <li><a href="/">Log Out</a></li>
{% endblock %}

{% block content %}
<div class="row equal-height-grid" style="margin-bottom:5rem; margin-top:1.2rem;">
    <div class="col s12">

        <h3> <span class="section-title"> Ask a Question </span> </h3>

        <div class="card">
            <div class="divider"></div>

            <div class="card-content" style="min-height: 600px;">
                <div class="row">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
