{% extends "studentBase.html" %}
{% block title %}Capstone Proposal{% endblock %}
{% block page %}Capstone Proposal Evaluation{% endblock %}


{% block menuItems %}
<li  style="margin-top: 62px"><a href="/proposal">Submit New Proposal</a></li>
<li class="active" ><a href="/ask-query">Ask a Question</a></li>
<li><a href="/history">Conversation History</a></li>
<li><a href="#!">Contact Lecturer</a></li>
<li style="margin-top: 65vh"><a href="/">Log Out</a></li>
{% endblock %}

{% block content %}

{% endblock %}
