{% extends "lecturerBase.html" %}
{% block title %}Cap Advisor - Submissions{% endblock %}
{% block page %}Cap Advisor{% endblock %}

<!--Side nav items-->
{% block menuItems %}
    <li class="no-padding">
        <ul>
            <li style="margin-top: 62px"><a href="/rubric">Rubric</a></li>
            <li  class="active"><a href="/submissions">Student Proposals</a></li>
        </ul>
    </li>
{% endblock %}

<!--Screen content-->
{% block content %}
    <style>
        /* Edit materialize tab style*/
        .tabs{
            background-color: transparent;
        }
        .tabs .indicator {
            background-color: indigo;
        }
        .tabs .tab a:focus,.tabs .tab a:focus.active {
            background-color: transparent;
            outline: none
        }
        .tabs-content{
            display:flex;
            align-content:center;
            min-height: 548px;
        }
    </style>
    
    <!--Tabs Setup-->
    <div class="row" style="margin-top: 100px;">
        <div class="col s12">

            <!--Tab headers-->
            <ul class="tabs tabs-fixed-width">
                <li class="tab col s6"><a href="#pending" class=" indigo-text">PENDING EVALUATIONS</a></li>
                <li class="tab col s6"><a class="indigo-text" href="#completed">COMPLETED EVALUATIONS</a></li>
            </ul>
            <div class="tabs-content">
                <!--Pending Evaluations-->
                <div id="pending" class="col s12">
                    <div class="card">
                        <div class="divider"></div>
        
                        <div class="card-content" style="min-height: 600px;">
                            <div class="row">
                                <table class="centered highlight striped">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>Date Submitted</th>
                                        <th>Student ID</th>
                                        <th>Student Name</th>
                                        <th>Proposal Name</th>
                                    </tr></thead>
                                    <tbody>
                                    {% for proposal in proposals %}
                                        {% if proposal.status == 0 %}
                                        <tr>
                                            <td><a class="modal-trigger" href="#eval_proposal_modal{{proposal.id}}">
                                                <i class="material-icons blue-text">input</i></a></td>
                                            <td>{{proposal.created}}</td>
                                            <td id="uwi_id">{{proposal.student.uwi_id}}</td>
                                            <td id="full_name">{{proposal.student.first_name}} {{proposal.student.last_name}}</td>
                                            <td id="name">{{proposal.proposal_name}}</td>
                                        </tr>
                                            <!--Modal Structure: Grade Proposal-->
                                        <div id="eval_proposal_modal{{proposal.id}}" class="modal modal-fixed-footer">
                                            <form method="POST" action="/man-evaluation">
                                                
                                                <div class="modal-content">
                                                    <!--Format is data field above the slider to grade it-->
                                                    <div class="row">
                                                        <div class="col s5">
                                                            <h3>{{proposal.proposal_name}}</h3>
                                                        </div>
                                                        <div class="col s3 offset-s4">
                                                            <h5>Members: {{proposal.num_members}}</h5>
                                                        </div>
                                                    </div>
        
                                                    <h4> <span class="section-title"> Relevance</span> </h4>
                                                    <div class="row">
                                                        <div class="col s12">
                                                            <p>Problem Statement: {{proposal.problem_desc}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row slide-label">
                                                        <div class="input-field col s6">
                                                            <p class="range-field">
                                                                <label for="relevance">Relevance Threshold: {{proposal.rubric.relevance}}</label>
                                                                <input type="range" name="relevance" min="0" max="10" value="{{proposal.rubric.relevance}}"/>
                                                            </p>    
                                                        </div>
                                                    </div>
        
                                                    <h4> <span class="section-title">Summary </span> </h4>
                                                    <div class="row">
                                                        <div class="col s12">
                                                            <p>Solution Goal: {{proposal.solution_desc}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row slide-label">
                                                        <div class="input-field col s6">
                                                            <p class="range-field">
                                                                <label for="novelty">Novelty Threshold: {{proposal.rubric.novelty}}</label>
                                                                <input type="range" name="novelty" min="0" max="10" value="{{proposal.rubric.novelty}}"/>
                                                            </p>
                                                        </div>
                                                    </div>
        
        
                                                    <h4> <span class="section-title">Feasibility </span> </h4>
                                                    <div class="row">
                                                        <div class="col s12">
                                                            <p>Requirements: {{proposal.requirements}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row slide-label">
                                                        <div class="input-field col s6">
                                                            <p class="range-field">
                                                                <label for="feasibility">Feasibility Threshold: {{proposal.rubric.feasibility}}</label>
                                                                <input type="range" name="feasibility" min="0" max="10"  value="{{proposal.rubric.feasibility}}"/>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col s12">
                                                            <p>Resources: {{proposal.tools}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row slide-label">
                                                        <div class="input-field col s6">
                                                            <p class="range-field">
                                                                <label for="technology">Technology Threshold: {{proposal.rubric.technology}}</label>
                                                                <input type="range" name="technology" min="0" max="10" value="{{proposal.rubric.technology}}"/>
                                                            </p>
                                                        </div>
                                                    </div>
        
        
                                                    <h4> <span class="section-title">Impact</span> </h4>
                                                    <div class="row">
                                                        <div class="col s12">
                                                            <p>Desired Goals: {{proposal.impact}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row slide-label">
                                                        <div class="input-field col s6">
                                                            <p class="range-field">
                                                                <label for="impact">Impact Threshold: {{proposal.rubric.impact}}</label>
                                                                <input type="range" name="impact" min="0" max="10" value="{{proposal.rubric.impact}}"/>
                                                            </p>
                                                        </div>
                                                    </div>
        
        
                                                    <h4> <span class="section-title">Sustainability</span> </h4>
                                                    <div class="row">
                                                        <div class="col s12">
                                                            <p>Sustainability: {{proposal.sustainability}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row slide-label">
                                                        <div class="input-field col s6">
                                                            <p class="range-field">
                                                                <label for="sustainability">Sustainability Threshold: {{proposal.rubric.sustainability}}</label>
                                                                <input type="range" name="sustainability" min="0" max="10" value="{{proposal.rubric.sustainability}}"/>
                                                            </p>
                                                        </div>
                                                    </div>
        
                                                    
                                                    <h4> <span class="section-title">Additional Information</span> </h4>
                                                    <div class="row">
                                                        <div class="col s12">
                                                            <p>Addtional Info: {{proposal.notes}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row slide-label">
                                                        <div class="input-field col s6">
                                                        
                                                        </div>
                                                    </div>
        
        
                                                    <div class="row">
                                                        <div class="input-field col s4">
                                                            <input name="prop_id" type="text" value="{{proposal.id}}" hidden>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="row">
                                                        <div class="input-field col s12">
                                                        <textarea name="notes" class="materialize-textarea"></textarea>
                                                        <label for="notes" style="font-size: large;">Comments</label>
                                                        </div>
                                                    </div>
                                        
                                                </div>
                                        
                                                <div class="modal-footer">
                                                    <button class="btn indigo darken-4 z-depth-1 waves-effect waves-light" type="submit">
                                                        Evaluate
                                                    </button>
                                                    <a href="#!" class="modal-close waves-effect waves-grey btn-flat" style="background-color: lightgray;">Close</a>
                                                </div>
                                            </form>
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                    <!--Completed Evaluations-->
                <div id="completed" class="col s12">
                    <div class="card">
                        <div class="divider"></div>
        
                        <div class="card-content" style="min-height: 600px;">
                            <div class="row">
                                <table class="centered highlight striped">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>Date Submitted</th>
                                        <th>Student ID</th>
                                        <th>Student Name</th>
                                        <th>Proposal Name</th>
                                        <th>Reviewer</th>
                                        <th>Evaluation Score (/10)</th>
                                    </tr></thead>
                                    <tbody>
                                    {% for evaluation in evaluations %}
                                    {% set user = evaluation.reviewer_id | int %}
                                        <tr>
                                            <td><a class="modal-trigger" href="#evaluation_modal{{evaluation.evaluation_id}}">
                                                <i class="material-icons blue-text">input</i></a></td>
                                            <td>{{evaluation.created}}</td>
                                            <td>{{evaluation.proposal.student.uwi_id}}</td>
                                            <td>{{evaluation.proposal.student.first_name}} {{evaluation.proposal.student.last_name}}</td>
                                            <td>{{evaluation.proposal.proposal_name}}</td>
                                            <td>{{evaluation.lecturer.first_name}} {{evaluation.lecturer.last_name}}</td>
                                            <td>{{evaluation.score}}</td>
                                        </tr>
                                            <!--Modal Structure: Grade Proposal-->
                                        <div id="evaluation_modal{{evaluation.evaluation_id}}" class="modal modal-fixed-footer">
                                            <form method="POST" action="/man-evaluation"> 
                                                <div class="modal-content">
                                                    <div class="row">
                                                        <div class="col s5">
                                                            <h3>{{evaluation.proposal.proposal_name}}</h3>
                                                        </div>
                                                        <div class="col s3 offset-s4">
                                                            <h5>Members: {{evaluation.proposal.num_members}}</h5>
                                                        </div>
                                                    </div>
        
                                                    <h4> <span class="section-title"> Relevance</span> </h4>
                                                    <div class="row">
                                                        <div class="col s12">
                                                            <p>Problem Statement: {{evaluation.proposal.problem_desc}}</p>
                                                        </div>
                                                    </div>
        
                                                    <h4> <span class="section-title">Summary </span> </h4>
                                                    <div class="row">
                                                        <div class="col s12">
                                                            <p>Solution Goal: {{evaluation.proposal.solution_desc}}</p>
                                                        </div>
                                                    </div>
        
                                                    <h4> <span class="section-title">Feasibility </span> </h4>
                                                    <div class="row">
                                                        <div class="col s12">
                                                            <p>Requirements: {{evaluation.proposal.requirements}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col s12">
                                                            <p>Resources: {{evaluation.proposal.tools}}</p>
                                                        </div>
                                                    </div>
        
                                                    <h4> <span class="section-title">Impact</span> </h4>
                                                    <div class="row">
                                                        <div class="col s12">
                                                            <p>Desired Goals: {{evaluation.proposal.impact}}</p>
                                                        </div>
                                                    </div>
        
                                                    <h4> <span class="section-title">Sustainability</span> </h4>
                                                    <div class="row">
                                                        <div class="col s12">
                                                            <p>Sustainability: {{evaluation.proposal.sustainability}}</p>
                                                        </div>
                                                    </div>
                                                    
                                                    <h4> <span class="section-title">Additional Information</span> </h4>
                                                    <div class="row">
                                                        <div class="col s12">
                                                            <p>Addtional Info: {{evaluation.proposal.notes}}</p>
                                                        </div>
                                                    </div>
        
                                                    <div class="row">
                                                        <div class="input-field col s4">
                                                            <input name="prop_id" type="text" value="{{evaluation.proposal.id}}" hidden>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="row slide-label">
                                                        <div class="input-field col s6">
                                                        
                                                        <p class="range-field">
                                                            <label for="novelty">Novelty</label>
                                                            <input type="range" name="novelty" min="0" max="10" value="{{evaluation.novelty}}"/>
                                                        </p>
                                                        </div>
                                        
                                                        <div class="input-field col s6">
                                                            
                                                        <p class="range-field">
                                                            <label for="relevance">Relevance</label>
                                                            <input type="range" name="relevance" min="0" max="10" value="{{evaluation.relevance}}"/>
                                                        </p>
                                                        
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="row slide-label">
                                                        <div class="input-field col s6">
                                                            
                                                        <p class="range-field">
                                                            <label for="feasibility">Feasibility</label>
                                                            <input type="range" name="feasibility" min="0" max="10"  value="{{evaluation.feasibility}}"/>
                                                        </p>
                                                        
                                                        </div>
                                                        <div class="input-field col s6">
                                                            
                                                        <p class="range-field">
                                                            <label for="impact">Impact</label>
                                                            <input type="range" name="impact" min="0" max="10" value="{{evaluation.impact}}"/>
                                                        </p>
                                                        </div>
                                                    </div>
                                        
                                                    <div class="row slide-label">
                                                        <div class="input-field col s6">
                                                            
                                                        <p class="range-field">
                                                            <label for="sustainability">Sustainability</label>
                                                            <input type="range" name="sustainability" min="0" max="10" value="{{evaluation.sustainability}}"/>
                                                        </p>
                                                        
                                                        </div>
                                                        <div class="input-field col s6">
                                                            
                                                        <p class="range-field">
                                                            <label for="technology">Technology</label>
                                                            <input type="range" name="technology" min="0" max="10" value="{{evaluation.technologies}}"/>
                                                        </p>
                                                    
                                                        </div>
                                                    </div>
                                        
                                                    <div class="row">
                                                        <div class="input-field col s12">
                                                        <textarea name="notes" class="materialize-textarea">{{evaluation.comments}}</textarea>
                                                        <label for="notes" style="font-size: large;">Reviewer's Comments</label>
                                                        </div>
                                                    </div>
                                        
                                                </div>
                                        
                                                <div class="modal-footer">
                                                    {% if user == current_user.id %}
                                                        <button class="btn indigo darken-4 z-depth-1 waves-effect waves-light" type="submit">
                                                            Re-evaluate
                                                        </button>
                                                    {% endif %}
                                                    <a href="#!" class="modal-close waves-effect waves-grey btn-flat" style="background-color: lightgray">Close</a>
                                                </div>
                                            </form>
                                        </div>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>           
        </div>
    </div>
{% endblock %}
